.Front-Page-Mobile {
  position: relative;
  display: inline-block;
}

.Front-Page-Mobile::before {
  content: "";
  background-image: url("../../images/clouds.jpg");
  background-size: cover;
  position: absolute;
  opacity: 0.4;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  z-index: -1;
  width: 100%;
}

.h2-Mobile {
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  font-family: "Alef";
  font-weight: 300;
  margin: 0;
  text-align: left;
  margin-top: 32px;
  margin-left: 18px;
}
.h1-Mobile {
  color: rgba(0, 0, 0, 1);
  font-size: 48px;
  font-family: "Alef";
  font-weight: 300;
  margin: 0;
  text-align: left;
  margin-top: 32px;
  margin-left: 18px;
}

.h3-Mobile {
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  font-family: "Alef";
  font-weight: 300;
  margin: 0;
  text-align: left;
  margin-top: 30px;
}

.centre-text-Mobile {
  z-index: 2;
  border: 20;
  display: inline;
  vertical-align: top;
}

.skye-cut-image-Mobile {
  width: calc(80% - 24px);
  display: inline-block;
  vertical-align: top;
  margin-left: 18px;
  margin-top: 30px;
}

.Cv-Download-Mobile {
  background-color: rgba(5, 66, 137, 0.7);
  border: none;
  padding: 15px 30px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border-radius: 45px;
  font-family: "Alef";
  margin-top: 32px;
  float: left;
  margin-left: 18px;
}

.Cv-Download-Mobile:hover {
  background-color: lightblue;
}

.nav-bar-mobile {
  height: 100px;
  background-color: rgba(5, 66, 137, 0.7);
  text-align: left;
  display: flex;
  align-items: center;
}

.link-mobile {
  margin-left: 18px;
  margin-right: 18px;
  font-size: 24px;
  text-decoration: none;
  color: white;
}
.main-link-mobile {
  font-size: 24px;
  text-decoration: none;
  color: white;
  margin-left: 18px;
  margin-right: 18px;
}
.main-link-mobile:hover {
  color: black;
}

.span-nav-mobile {
  min-width: 10px;
  width: 20%;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 15px;
  right: 30px;
  top: 42px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: black;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #67aaf9;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: lightblue;
}

/* Wrapper for item list */
.bm-item-list {
  color: white;
  text-align: left;
}

/* Individual item */
.bm-item {
  display: inline-block;
  margin-top: 20px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
